<div class="center hero-unit">
  <h1>Welcome to Tuit!</h1>

  <h2>This is the place to make your Tuit be heard to the world! Tuit! Tuit!</h2>

  <%= link_to "Sign Up!", '#', class: "btn btn-large btn-primary" %>
</div>